*.pyc
*.ipynb
__pycache__/
.vscode/*
.mypy_cache/
.files/
.chainlit/
pipeline/__pycache__/

*.ipynb_checkpoints
QA.txt
commands.txt
test.py

!vectorestore/.gitkeep
!model/.gitkeep

model/*.gguf
vectorestore/*/*.bin
vectorestore/*/*.pickle
vectorestore/chroma.sqlite3
